.formContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.formInput {
  width: 100%;
  padding: 1rem;
  margin-bottom: 0.7rem;
  border: 1px solid #ccc; /* Soft border */
  border-radius: 8px; /* Rounded corners */
  font-size: 1rem;
  font-family: "Georgia", serif;
  outline: none;
  transition: border-color 0.3s ease;
}

.formInput:focus {
  border-color: #4b0406; /* Soft blue for focus state */
}

.formHeading {
  margin-bottom: 1rem;
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.6;
}

.formButton {
  padding: 0.5rem 2rem;
  background: linear-gradient(90deg, #4b0406, #6b0f12, #a82b30);
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formButton:hover {
  background: linear-gradient(90deg, #4b0406, #6b0f12, #a82b30);
}

.viewToggleButton {
  padding: 0.5rem 1.5rem;
  margin: 0 0.5rem; /* Add horizontal spacing between buttons */
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.active {
  background: linear-gradient(90deg, #4b0406, #6b0f12, #a82b30);
  color: white;
  border-color: #4b0406;
}

.inactive {
  background-color: #f1f1f1;
  color: #333;
  border-color: #ccc;
}

.viewToggleButtonContainer {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 1rem; /* Add spacing between buttons */
  margin-bottom: 1rem; /* Space below the button group */
}

.uploadFileContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.uploadFileImg {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.dropZone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  text-align: center;
}

.dropZone.active {
  border-color: #0070f3;
  background-color: #e6f7ff;
}

.dropZone.inactive {
  border-color: #ccc;
}

.fileName {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #333;
}

.formButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Extra Small Mobile Devices (Portrait) */
/* iPhone SE, older Android phones */
@media only screen and (max-width: 320px) {
  .modalContainer {
    height: 60%;
    width: 90%;
  }

  .formButton {
    font-size: 0.9rem;
  }

  .formInput {
    font-size: 1rem;
    margin-bottom: 0.7rem;
  }

  .formHeading {
    font-size: 0.9rem;
  }
}

/* Small Mobile Devices (Portrait) */
/* iPhone 6/7/8, Galaxy S8 */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .modalContainer {
    height: 60%;
    width: 90%;
  }

  .formButton {
    font-size: 1rem;
  }

  .formInput {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .formHeading {
    font-size: 1rem;
  }
}

/* Medium Mobile Devices (Portrait) */
/* iPhone 11 Pro, Google Pixel 2 */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .modalContainer {
    height: 60%;
    width: 90%;
  }

  .formButton {
    font-size: 1rem;
  }

  .formInput {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .formHeading {
    font-size: 1rem;
  }
}

/* Tablets (portrait and landscape) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
