.navbar {
  height: 10vh;
  background: linear-gradient(90deg, #4b0406, #6b0f12, #a82b30);
  color: white;
  padding: 0.7rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Classic shadow effect */
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Subtle text shadow */
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  border-radius: 3px;
}

.navLinks {
  display: flex;
  gap: 1rem;
  list-style: none;
  transition: all 0.3s ease-in-out;
}

.navLinks li a {
  color: white;
  font-weight: 400;
  text-decoration: none;
  font-size: 0.85rem;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Parkinsans", serif;
  transition: background 0.3s ease, transform 0.3s ease;
}

.navLinks li h2 {
  color: white;
  font-weight: 400;
  text-decoration: none;
  font-size: 0.85rem;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Parkinsans", serif;
  transition: background 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.navLinks li a:hover {
  background: rgba(255, 255, 255, 0.2); /* Highlight effect */
  transform: scale(1.1); /* Slight zoom effect */
}

.navLinks li h2:hover {
  background: rgba(255, 255, 255, 0.2); /* Highlight effect */
  transform: scale(1.1); /* Slight zoom effect */
}

.active {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 2rem; /* Added padding for a spacious feel */
    background-color: #f8fafc; /* Light background color */
  }

  .navLinks li a {
    margin: 1rem 0;
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: #333;
  }

  .navLinks li h2 {
    margin: 1rem 0;
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: #333;
  }

  .active {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 1.5rem;
  }

  .navLinks li a {
    font-size: 0.9rem;
    color: #333;
  }
}
