@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Itim&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Macondo&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #333;
  scroll-behavior: smooth;
}

body {
  margin: 0px !important;
  padding: 0;
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
  overflow-x: auto;
  overflow-x: hidden;
}

html {
  overflow: hidden;
}

.main-body {
  max-width: 80rem /* 1280px */;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  position: relative;
  color: white;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #4b0406, #6b0f12, #a82b30);
  bottom: 0;
  padding: 0.5rem 0;
  position: fixed;
  max-height: 10vh;
  min-height: 5vh;
}

.footer-heading {
  font-size: 0.8rem;
  text-align: center;
  color: white;
}

.footer-sub-heading {
  font-size: 0.7rem;
  text-align: center;
  margin-top: 10px;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 11px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #575c66;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #626970;
}

::-webkit-backdrop-filter {
  blur: 3px saturate(106%);
}

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

.playwrite-gb-s-text {
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.quicksand-text {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans-text {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.cinzel-text {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
