.mainBody {
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  position: relative;
  color: #333; /* Dark text for contrast */
}

/* Landing section with grid pattern */
.landingSection {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem; /* Added padding for a spacious feel */
  background-color: #f8fafc; /* Light background color */
  background-image: radial-gradient(circle, #d1d5db 1px, transparent 1px),
    radial-gradient(circle, #d1d5db 1px, transparent 1px); /* Grid pattern */
  background-position: 0 0, 25px 25px; /* Offset the grid */
  background-size: 50px 50px; /* Set the grid size */
}

.landingHeading {
  font-size: 2.2rem;
  font-family: "Georgia", serif; /* Elegant serif font */
  font-weight: 600;
  color: #2c3e50; /* Dark gray for a refined look */
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

.subHeading {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Georgia", serif;
  color: #34495e; /* Softer gray */
  margin-bottom: 1rem;
}

.button {
  margin: 5px;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  cursor: pointer;
  background: #f8fafc;
  border-radius: 1rem;
  border: 1.5px solid #d1d5db;
  font-weight: 600;
}

.button:hover {
  background: linear-gradient(90deg, #4b0406, #6b0f12, #a82b30);
  color: white;
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  background-color: white;
  box-shadow: 24px;
  padding: 20px;
  border-radius: 8px;
}

.modalTitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.modalContent {
  margin-bottom: 20px;
}

.btnContainer {
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.5rem;
}

.modalButton {
  background-color: #f44336;
  color: white;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.modalButton:hover {
  background-color: #d32f2f;
}
